ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li a { 
	list-style-type: none;
}

li a:hover { 
	text-decoration: none;
	background-color: black;
}

.navbar-default {
	background-color: #b7b5b5;
}
#footer {
	background-color: #b7b5b5;
}

.navbar-default .navbar-brand {
	color: white;
}
.navbar-nav li.nav-item a {
	color: white;
	

