body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100px;
}

.navbar-pills {
	text-align: center;
}

h2 {
	text-align:center;
	padding:60px;

}

form {
	margin-right: 25px;
	margin-left: 25px;
	padding-left: 35%;
	padding-right: 35%;
}
#btLa {
	width: 100%;
	text-align: center;
}

footer {
	bottom:0;
	position: absolute;
	width: inherit;

}
